* {
  box-sizing: border-box;
  font-family: monospace;
}

.App {
  text-align: center;
  min-width: 100vw;
  min-height: 100vh;
}

button {
  height: 30px;
  width: 50px;
  border: 0px;
  border-radius: 10px;
  background-color: #858585;
  color: aliceblue;
}

button:hover {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.light {
  background-color: #f0eae5;
  color: #333;
  transition: all 0.5s;
}

.dark {
  background-color: #333;
  color: #f0eae5;
  transition: all 0.5s;
}